version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.8.3
      - image: circleci/postgres:latest
    steps:
      - checkout
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            python3 manage.py test
