<!DOCTYPE html>

<html lang="ja">

{% load static %}



  <head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ブログ管理サイト</title>
    
    {% bootstrap_css %}


  </head>



  <body>


    <h1 class="text-center my-5"><a href="{% url 'blogs:index' %}" class="text-dark">My Blog</a></h1>

    <div class="container mx-auto">

      <form action="" class="form-inline">

        {% if search_form.non_field_errors %}
        <div class="error-list text-danger font-weight-bold">
          {% for error in search_form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
        {% endif %}

        {% for field in search_form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
          <div class="error-list text-danger font-weight-bold">
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-primary">検索</button>
      </form>

      <hr />

      {% for blog in blog_list %}
      <div>
        <h3>{{ blog.title }}</h3>
        <div>{{ blog.text | truncatechars:100 }}</div>
        <div style="text-align: right;">
          <a href="{% url 'blogs:detail' slug=blog.slug %}">記事を読む</a>
        </div>
      </div>
      <hr />
      {% empty %}
      <p>表示する記事がありません。</p>
      <hr />
      {% endfor %}

      {% include 'blogs/includes/paginator.html' %}
      
    </div>

    {% bootstrap_javascript jquery='full' %}


  </body>

</html>